/* Navigation */
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

* {
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navigation */
nav {
  display: flex;
  height: 135px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1vw 8vw;
  border-bottom: 5px solid #ffffff;
  border-radius: 75px;
  margin-top: 20px;
  margin-right: 50px;
  margin-left: 50px;
  background-image: url(img/Screenshot\ 2024-03-11\ 175459_cleanup.png);
  background-size: cover;
  background-position: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.95);
  margin-bottom: 30px;
}

nav img {
  height: 135px;
  width: 280px;
  cursor: pointer;
}

img {
  height: 100%;
  width: 100%;
}

nav .Navigation ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  margin-top: 25px;
}

nav .Navigation ul li {
  list-style: none;
  margin: 15px;

}

.Navigation ul li a {
  position: relative;
  /* Ensure that pseudo-elements are positioned relative to this element */
  display: inline-block;
  font-size: 25px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  display: inline-block;
  padding-bottom: 20px;
  text-decoration: none;
  /* Remove default underline */
}

.Navigation ul li a::before,
.Navigation ul li a::after {
  content: '';
  /* Ensure the pseudo-elements are generated */
  position: absolute;
  /* Position the pseudo-elements */
  bottom: 0;
  /* Align the pseudo-elements to the bottom of the element */
  left: 0;
  /* Start the pseudo-elements from the left edge of the element */
  width: 0;
  /* Initially, the pseudo-elements have no width */
  height: 3px;
  /* Set the height of the pseudo-elements, acting as the line */
  background-color: rgb(255, 255, 255);
  /* Set the initial color of the line */
  transition: all 0.3s ease;
  /* Smooth transition for better visual effect */
}

.Navigation ul li a::before {
  width: 100%;
  /* Make the line stretch to the full width of the element */
  transform-origin: right;
  /* Set the transformation origin to the right edge of the element */
  transform: scaleX(0);
  /* Initially, the line is not visible */
}

.Navigation ul li a:hover::before,
.Navigation ul li a:hover::after {
  width: 100%;
  /* When hovering, stretch the line to the full width */
  transform-origin: left;
  /* Set the transformation origin to the left edge of the element */
  transform: scaleX(1);
  /* Expand the line to the full width */
}

.Navigation ul li a:hover::before {
  background-color: rgb(255, 255, 255);
  /* Change the color of the line on hover */
}

.Navigation ul li a i {
  color: rgb(255, 255, 255);
}

/* Home */
#Home {
  background-image: url("img/WhatsApp\ Image\ 2024-03-10\ at\ 12.01.54_7fdd5166.jpg");
  width: 95%;
  height: 700px;
  max-width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px;
  border: none solid black;
  border-radius: 125px;
  margin-right: 20px;
  margin-left: 30px;
  margin-top: 70px;
  box-shadow: 11px 1px 22px #666666,
    -1px 51px 42px #666666;
}

#Home h2 {
  color: #ff0000;
  font-size: 65px;
  letter-spacing: 1px;
}

#Home p {
  width: 50%;
  color: #fdc928;
  font-size: 25px;
}

#Home a {
  text-decoration: none;
  font-size: 0.9rem;
  padding: 13px 35px;
  background-color: white;
  font-weight: 600;
  border-radius: 10px;
}

#Home .btn {
  margin-top: 30px;
  background-color: white;
}

#Home .blue {
  margin-right: 25px;
}

#Home a.blue {
  color: white;
  background-color: rgb(21, 21, 100);
  transition: 0.3s ease;
}

#Home a.blue:hover {
  color: rgb(21, 21, 100);
  background-color: white;
}

#Home a.yellow {
  color: white;
  background-color: #fdc928;
  transition: 0.3s ease;
}

#Home a.yellow:hover {
  color: rgb(21, 21, 100);
  background-color: white;
}

/* features */

#features {
  padding: 5vw 8vw 0 8vw;
  text-align: center;
}

.heading1 {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 150px;
  width: 100%;
  line-height: 45px;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 100px;
  padding-top: 25px;
  padding-bottom: 25px;
  border: 5px solid #505bae;
  border-radius: 75px;
  color: white;
  background-image: url(img/Screenshot\ 2024-03-11\ 175459_cleanup.png);
  background-position: center;
  box-shadow: 11px 1px 22px #868585,
    -1px 11px 42px #656565;
}

#features h1 {
  font-size: 45px;
}

.featurescont {
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 100px;
}

.featurescont .scholarshipCont,
.coursesCont,
.blogCont {
  height: 300px;
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-radius: 52px;
  background: #f7f1f1;
  box-shadow: 10px 10px 36px #5a5a5a,
    -10px -10px 36px #ffffff;
}

.featurescont i {
  font-size: 40px;
  padding-top: 15px;
}

.featurescont h3 {
  font-size: 30px;
}

.featurescont p {
  font-size: 25px;
}

.heading2 {
  height: 150px;
  padding-top: 30px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  margin-right: 70px;
  margin-left: 70px;
  margin-bottom: 50px;
  border: 5px solid #505bae;
  background-image: url(img/Screenshot\ 2024-03-11\ 175459_cleanup.png);
  background-position: center;
  color: white;
  border-radius: 125px;
}

.heading2 h2 {
  font-size: 70px;

}

.information {
  height: 50px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  color: #505bae;
}

.information h4 {
  font-size: 30px;
  font-weight: bold;
}

.departments {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 500px;
  width: 100%;
}

.card {
  width: 250px;
  height: 354px;
  background: rgb(103, 225, 255);
  transition: all 0.4s;
  box-shadow: 0px 0px 30px 20px rgba(26, 25, 25, 0.705);
  font-size: 30px;
  font-weight: 900;
  margin-top: 25px;
  border: 3px solid gray;
  border-radius: 50px;
  inset: 0;
  background: linear-gradient(-45deg, #1cc2ff 0%, #ff261b 100%);
  box-shadow: 9px 9px 18px #5a5a5a,
    -9px -9px 18px #ffffff;
}

.card:hover {
  border-radius: 15px;
  cursor: pointer;
  transform: scale(1.2);
  inset: 0;
  background: linear-gradient(-45deg, #1cffa4 0%, #ff01aee6 100%);
  box-shadow: 9px 9px 18px #5a5a5a,
    -9px -9px 18px #ffffff;
}

.first-content {
  height: 100%;
  width: 100%;
  transition: all 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  border-radius: 15px;
}

.card:hover .first-content {
  height: 0px;
  opacity: 0;
}

.second-content {
  height: 0%;
  width: 100%;
  opacity: 0;
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  transition: all 0.4s;
  font-size: 0px;
  transform: rotate(90deg) scale(-1);
}

.second-content a {
  color: #505bae;
}

.card:hover .second-content {
  opacity: 1;
  height: 100%;
  font-size: 1.8rem;
  transform: rotate(0deg);
}

.heading3 {
  height: 150px;
  padding-top: 30px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  background-image: url(img/Screenshot\ 2024-03-11\ 175459_cleanup.png);
  background-position: center;
  color: white;
  border-radius: 125px;
  margin-right: 70px;
  margin-left: 70px;
  border: 5px solid #505bae;
}

.heading3 h4 {
  font-size: 65px;
}

.slider-container {
  width: 1000px;
  margin-left: 250px;
  margin-bottom: 200px;
  height: 400px;
  overflow: hidden;
  border: 5px solid black;
  border-radius: 45px;
  padding-left: 50px;
  margin-top: 150px;
}

.slider {
  display: flex;
  height: 500px;
  width: 100%;
  gap: 50px;
  align-items: center;
  transition: transform 0.5s ease;
}

.slide {

  /* Show 3 slides at a time */
  box-sizing: border-box;
  margin-bottom: 100px;
  padding: 10px;
  height: 280px;
  width: 350px;
  text-align: center;

  border: 1px solid #ccc;
  filter: grayscale(100%);
  border-radius: 50px;
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
  box-shadow: 5px 5px 0px #5a5a5a,
    -5px -5px 0px #ffffff;

  /* box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px; */
}

.slide:hover {
  filter: grayscale(0%);
}

.slide .temporary_text img {
  height: 180px;
  width: 250px;
  border: none;
  border-radius: 25px;
}

img {
  height: 100%;
  width: 100%;
}

.slider p {
  text-align: justify;
  font-size: 15px;
}

.card2 {
  position: relative;
  width: 250px;
  height: 250px;
  color: #2e2d31;
  background: #131313;
  overflow: hidden;
  border-radius: 20px;
}

.temporary_text {
  font-weight: bold;
  font-size: 24px;
  padding: 6px 12px;
  color: #f8f8f8;
}

.card_title {
  font-weight: bold;
}

.card_content {
  position: absolute;
  left: 0;
  bottom: 0;
  /* edit the width to fit card */
  width: 100%;
  padding: 20px;
  background: #f2f2f2;
  border-top-left-radius: 20px;
  /* edit here to change the height of the content box */
  transform: translateY(150px);
  transition: transform .25s;
}

.card_content::before {
  content: '';
  position: absolute;
  top: -47px;
  right: -45px;
  width: 100px;
  height: 100px;
  transform: rotate(-175deg);
  border-radius: 50%;
  box-shadow: inset 48px 48px #f2f2f2;
}

.card_title {
  color: #131313;
  line-height: 15px;
}


.card_description {
  font-size: 14px;
  opacity: 0;
  transition: opacity .5s;
}

.card2:hover .card_content {
  transform: translateY(0);
}

.card2:hover .card_description {
  opacity: 1;
  transition-delay: .25s;
}

.heading4 {
  height: 150px;
  padding-top: 30px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  background-image: url(img/Screenshot\ 2024-03-11\ 175459_cleanup.png);
  background-position: center;
  color: white;
  border-radius: 125px;
  margin-right: 70px;
  margin-left: 70px;
  border: 5px solid #505bae;
}

.heading4 h4 {
  font-size: 65px;
}

.online-courses {
  height: 600px;
  width: 100%;
  margin-top: 50px;
  padding-top: 40px;
  display: flex;
  justify-content: space-evenly;
  border: 2px solid black;
  box-shadow: 5px 5px 0px #5a5a5a,
    -5px -5px 0px #ffffff;
  margin-bottom: 50px;
}

.card3 {
  position: relative;
  width: 258px;
  height: 318px;
  background-color: rgba(88, 44, 176, 0.392);
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  padding: 12px;
  line-height: 45px;
  border-radius: 15px;
  margin-top: 100px;
  cursor: pointer;
  color: #000000;
}

.card3::before {
  content: "";
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  width: 268px;
  height: 322px;
  border-radius: 15px;
  background: linear-gradient(-45deg, #1cc2ff 0%, #ff261b 100%);
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card3::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #1cffa4 0%, #ff01aee6 100%);
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(40px);
}

.card3 .heading5 {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 800;
  color: white;
}

.card3 p:not(.heading5) {
  font-size: 25px;
  font-weight: bold;
  color: #000000;
  opacity: 0;
}

.card3:hover::after {
  filter: blur(50px);
}

.card3:hover::before {
  transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
}

.card3:hover {
  transform: scale(1);
}

.card3 p:hover {
  opacity: 1;
}


footer {
  background: #272424;

}

.footer-heading {
  text-align: center;
  font-size: 60px;
  background: #5a5757;
  letter-spacing: 1px;
  line-height: 80px;
  color: rgb(92, 201, 92);
  font-weight: 800;

}

.links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 90%;
  margin: 0 auto;
  gap: 2.5rem;
  margin-top: 3rem;
}

.site-name {
  display: flex;
  flex-direction: column;
  line-height: 5px;
  color: white;
  margin-bottom: 40px;

}

.description {
  color: white;
  opacity: 0.6;
  margin-bottom: 5rem;

}

.colomn {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  color: white;


}

.sub-heading {
  font-size: 20px;
  display: block;
  cursor: pointer;
}

.underline {
  background-color: green;
  width: 60%;
  display: block;
  height: 2px;

}

.site-name h2 {
  font-size: 50px;
  line-height: 50px;
  font-weight: 900;
}

.other-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.other-links a {
  text-decoration: none;
  color: white;
  font-size: 17px;
  line-height: 20px;
  font-weight: 500;
  opacity: 0.6;
  display: inline-block;
}

.other-links a:hover {
  opacity: 1;
  font-size: 25px;
}

.email {
  display: flex;
  gap: 12px;

}

.email p {
  opacity: 0.6;
  cursor: pointer;
  margin-top: 2px;
}

.email p:hover {
  opacity: 0.9;
}

.plattforms {
  display: flex;

  gap: 10px;
}

.copyright-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  color: white;
  height: 5rem;
  background-color: #5a5757;
  padding-right: 2rem;
  padding-left: 3rem;
  align-items: center;
  font-size: 13px;
}

.copyright-section p {
  opacity: 0.8;
}

.three-rules {
  display: flex;
  width: 20%;
  justify-content: center;
  font-size: 15px;

}

.rule {
  opacity: 0.6;
  cursor: pointer;
  text-align: center;
  margin: 0 auto;


}

.rule:hover {
  opacity: 1;
  font-size: 19px;
}

.Support {
  border-right: solid white 1px;
  padding-right: 10px;

}

.Disclaimer {
  border-right: solid white 1px;
  padding-right: 1rem;
}